# Arquivos de estado do Terraform
*.tfstate
*.tfstate.*

# Arquivos de backup gerados pelo Terraform
*.tfvars.backup

# Arquivos de planejamento do Terraform
*.tfplan

# Diretório .terraform gerado pelo Terraform
.terraform/

# Arquivos de log e diagnóstico
terraform.log
terraform.tfstate.backup

# Arquivos de configuração específicos de IDE
.vscode/
.idea/

# Arquivos de configuração do editor Vim
.vim/

# Arquivos de configuração específicos do sistema operacional
*.DS_Store
Thumbs.db

# Arquivos sensíveis que contêm credenciais ou segredos
*.tfvars
*.tfvars.json
*.tfvars.auto

# Arquivos de saída binária e executáveis
*.exe
*.out
